 canvas {
   margin-top: 20px;
   display: inline-flex;
   align-content: center;

 }
 .loader {
    position: relative;
    top:50%;
    right:-45%;
 }
  form {
    margin: 20px 0px 10px 30px;
  }
  button {
    color: rgb(34, 175, 183, 1);
     font-size: 20px;
    font-weight: bold;
    background-color: rgb(34, 175, 183, 0.3);
    border: rgb(34, 175, 183, 0.8);
    border-radius: 5px;
    height: 90%;
    margin-top: 2px;
    padding: 5px 20px;
  }
  a {
    font-size: 20px;
    margin-left: 5px;
    text-decoration: none;
  }
  ul {
    list-style-type: none;
    color: blueviolet;
  }
  .card {
    background-color: rgba(68, 73, 83, 0.8);
  }
  .principal {
    background-color: rgba(68, 73, 83, 0.8);
    border-radius: 8px;
    margin-left: 280px;
    width: 50%;
  }
  .city {
    margin-left: 30px;
    font-size: 40px;
    color: rgb(34, 175, 183, 0.8);
  }
  .day {
    margin: 5px 40px 20px;
    font-size: 18px;
    opacity: 0.6;
  }
  .today {
    font-size: 60px;
    font-weight: 600;
    text-align: center;
  }
  .clearfix {
    margin: 35px 30px auto 0px;
  }
  .emoji {
    font-size: 70px;
    margin: 0px 35px;
    text-align: center;
  }
  .units{
    position: relative;
    top: -30px;
  }
  .active {
    color:#22afb7;
  }
  
  .forecast {
    font-size: 20px;
    text-align: center;
    padding: 6px;
    background-color: rgb(34, 175, 183, 0.0);
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
  }
  .forecast-min {
    opacity: 0.6;
  }
  .forecast-temperature{
    font-size: 18px;
  }
  .degrees {
    font-size: 18px;
    opacity: 0.6;
  }
  #dataCard {
    margin: 0px 35px 15px 0px;
    text-align: left;
    background: none;
    border: none;
  }
  #data {

    font-size: 18px;
    color: rgb(189, 185, 185);
    background-color: rgb(34, 175, 183, 0.0);
    line-height: 25px;
    list-style-type: none;
    border: rgb(34, 175, 183, 0.0);
  }
  #celcius {
    display: inline;
  }
  #fahrenheit {
    display: inline;
    margin-left: 0px;
  }